/*Reset*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'futura';
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

/* Main */
:root {
  --primary-color: #ffffff
;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  font-weight: 600;
  color: inherit;
}

a:hover {
  opacity: .7;
}

img {
  width: 100%;
}

/* Block */
.header {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_logo {
  width: 55%;
}

.header_nav {
  overflow: hidden;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  left: 20%;
}

.header_nav a {
  display: none;
}

.hero {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  background-image: url(./images/backgrounds/hero-bg-texture.png);
  background-size: cover;
}

.hero_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  width: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 10px 0px #888888;
          box-shadow: 0px 0px 10px 0px #888888;
}

.hero h1 {
  width: 50%;
}

.features {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 200px auto 0px auto;
}

.features h2 {
  /* standard gradient background */
  background-image: -webkit-gradient(linear, right top, left bottom, from(#AB00FF), to(#007BFF));
  background-image: linear-gradient(to bottom left, #AB00FF, #007BFF);
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5% 0%;
  width: 100%;
}

.features_card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 0px 10px 0px #888888;
          box-shadow: 0px 0px 10px 0px #888888;
  border-radius: 6px;
  margin-bottom: 5%;
}

.features_card p {
  width: 50%;
  margin: auto auto;
}

.features_card img {
  width: 5%;
  margin: 10px 5%;
}

.features_card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.features_card_dashboard {
  margin-top: 5%;
  -webkit-box-shadow: 0px 0px 10px 0px #888888;
          box-shadow: 0px 0px 10px 0px #888888;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products {
  margin-top: 200px;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.products h2 {
  /* standard gradient background */
  background-image: -webkit-gradient(linear, right top, left bottom, from(#AB00FF), to(#007BFF));
  background-image: linear-gradient(to bottom left, #AB00FF, #007BFF);
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10%;
}

.products_logo {
  margin: 5% auto;
  padding: 0px 20px;
  width: 40%;
}

.footer {
  background-image: url(./images/backgrounds/footer-bg-texture.png), -webkit-gradient(linear, right top, left bottom, from(#AB00FF), to(#007BFF));
  background-image: url(./images/backgrounds/footer-bg-texture.png), linear-gradient(to bottom left, #AB00FF, #007BFF);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 5%;
  position: relative;
  color: white;
  font-family: 'futura';
  font-weight: bold;
}

.footer h2 {
  text-align: center;
  padding: 10% 0px;
}

.footer_input_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0px auto;
  width: 100%;
}

.footer_input_email input {
  height: 2rem;
  width: 60%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  font-family: 'futura';
  font-weight: bold;
  font-size: .7em;
  border: none;
  margin: auto;
  color: white;
}

.footer_input_email ::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.footer_input_email :-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.footer_input_email ::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.footer_input_email ::placeholder {
  color: white;
  opacity: 0.5;
}

.footer_input_email_button {
  padding: 0;
  height: 2rem;
  margin: auto;
  border-radius: 30px;
  width: 100px;
  font-family: 'futura';
  font-weight: bold;
  font-size: .5em;
  text-transform: uppercase;
  border: none;
  color: #AB00FF;
}

.footer_nav ul {
  margin-top: 35%;
  text-align: right;
}

.footer_nav li {
  margin: 10px 0px;
}

/* Desktop Styles */
@media screen and (min-width: 480px) {
  .header {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
  }
  .header_logo {
    width: 25%;
  }
  .header_nav {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header_nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header_nav li {
    margin: auto;
  }
  .header_nav a {
    display: initial;
  }
}
/*# sourceMappingURL=styles.css.map */